.App{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
    min-height: 100vh;
    background-color: white;
    align-self: center;
    width: 100%;
}
.App .Head{
    text-align: center;
    font-style: italic;
    margin-bottom: 10px;
    margin-top: 0px;

}
@media (min-width: 900px) {
    .App{
        width: 80vw;
    }

}
